@using Microsoft.AspNetCore.Identity
@using Underprepaired.Models
@inject SignInManager<ApplicationUser> SignInManager
@model Underprepaired.Models.Product

@{
    ViewData["Title"] = "Details";
}


<section id="about" class="projects-section text-center text-light">
    <div class="container">
        <div class="d-flex shadow-lg ml-auto mt-4 bg-light py-5 px-5 text-dark rounded">
            <div class="">
                <img class="rounded shadow-sm" src="@Model.ImageURL" width="400" />
            </div>

            <div class="px-5 text-center">
                <h2>@Model.Name</h2>
                <div class="h-25"></div>
                <p>@Model.Description</p>
                <p>Price: $@Model.Price</p>

                <form asp-controller="Cart" asp-action="AddToCart" class="mt-4">
                    <input type="hidden" name="productId" value="@Model.ID" />
                    <input type="hidden" name="username" value="@SignInManager.UserManager.GetUserName(User)" />
                    <label for="quantity">
                        Quantity: <input type="number" name="quantity" min="1" value="1" width="25" />
                    </label>
                    <button class="">Add To Cart</button>
                </form>
            </div>
        </div>
    </div>
    </section>
