@using Microsoft.AspNetCore.Identity
@using Underprepaired.Models
@inject SignInManager<ApplicationUser> SignInManager
@model dynamic

<div class="w-25">
    <h3>Your Cart:</h3>
    @{ decimal total = 0;}

    @foreach (var item in Model.CartItems)
    {
        if (item.Product != null)
        {
    <div>
        <img src="@item.Product.ImageURL" width="80" alt="" />
        <a asp-action="Details" asp-controller="Products" asp-route-id="@item.ProductID">
            @item.Product.Name
        </a>
        <form asp-action="UpdateQuantity" asp-controller="Cart">
            Quantity:
            <input type="number" name="quantity" value="@item.Quantity">
            <input type="hidden" name="prodID" value="@item.ProductID" />
            <input type="hidden" name="username" value="@SignInManager.UserManager.GetUserName(User)" />
            <button>Update</button>
        </form>
        <form asp-action="DeleteItem" asp-controller="Cart">
            <input type="hidden" name="cartID" value="@item.CartID" />
            <input type="hidden" name="prodID" value="@item.ProductID" />
            <input type="hidden" name="username" value="@SignInManager.UserManager.GetUserName(User)" />
            <button>Delete</button>
        </form>
        <span>price: $@item.Product.Price</span>
        <span>Qty: @item.Quantity</span>

        <span>subtotal: $@(item.Product.Price * item.Quantity)</span>
    </div>

            total += item.Product.Price * item.Quantity;

            <hr />
        }
    }

    <p> Grand Total: $@total  </p>
</div>