@using Microsoft.AspNetCore.Identity
@using Underprepaired.Models
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/style/StyleSheet.css" rel="stylesheet">

    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/home">Underprepaired</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            Logged In As: @User.Claims.First(name => name.Type == "FullName").Value
                        </li>
                        @await Component.InvokeAsync("CartPreview", @SignInManager.UserManager.GetUserName(User))
                        <li class="nav-item">
                            <form asp-action="Logout" asp-controller="Account" method="post">
                                <button class="btn-link nav-link js-scroll-trigger" type="submit">Logout</button>
                            </form>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/products">Shop</a>
                    </li>
                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/account/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/account/register">Register</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>


    @*@if (SignInManager.IsSignedIn(User))
        {
            <nav class="navbar navbar-dark bg-dark">
                <a asp-action="Index" asp-controller="Home" class="navbar-brand my-auto">UnderprePAIRed!</a>
                <div class="form-inline my-2 my-lg-0">
                    <p class="text-light my-auto">
                        Logged In As: @User.Claims.First(name => name.Type == "FullName").Value
                    </p>
                    @await Component.InvokeAsync("CartPreview", @SignInManager.UserManager.GetUserName(User))
                    <a class="nav-item nav-link" href="/products">Shop</a>
                    <form asp-action="Logout" asp-controller="Account" method="post">
                        <button class="btn btn-link" type="submit">Logout</button>
                    </form>
                </div>
            </nav>
        }
        else
        {
            <nav class="navbar navbar-dark bg-dark">
                <p class="navbar-brand my-auto">UnderprePAIRed!</p>
                <div class="row my-auto">
                    <a class="nav-item nav-link" href="/products">Shop</a>
                    <a class="nav-item nav-link" href="/account/login">Login</a>
                    <a class="nav-item nav-link" href="/account/register">Register</a>
                </div>
            </nav>
        }*@

    <!-- Header -->

        @RenderBody()

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/js/app.js"></script>

</body>
</html>
