@using Microsoft.AspNetCore.Identity
@using Underprepaired.Models
@inject SignInManager<ApplicationUser> SignInManager
@model dynamic



<li class="dropdown nav-item nav-link">
    <a href="#" class="dropdown-toggle text-light" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="fa fa-gift bigicon"></span> <span class="glyphicon">&#128722;</span> Cart (@Model.CartItems.Count)<span class="caret"></span></a>
    <ul class="dropdown-menu dropdown-cart" role="menu">
        @{ decimal total = 0;}
        
        @foreach (var item in Model.CartItems)
        {
            if (item.Product != null)
            {
                <li>
                    <span class="item">
                        <span class="item-left">
                            <img src="@item.Product.ImageURL" width="50" alt="" />
                            <span class="item-info">
                                <a asp-action="Details" asp-controller="Products" asp-route-id="@item.Product.ID">
                                    <span>
                                        @item.Product.Name
                                    </span>
                                </a>
                                <span>price: $@item.Product.Price</span>
                                <span>subtotal: $@(item.Product.Price * item.Quantity)</span>
                                <span>Qty: @item.Quantity</span>
                            </span>
                        </span>
                    </span>
                </li>

                total += item.Product.Price * item.Quantity;
            }
        }

        <p> Grand Total: $@total  </p>
        <form asp-action="Index" asp-controller="Cart">
            <input type="hidden" name="username" value="@SignInManager.UserManager.GetUserName(User)" />
            <button class="btn btn-link">View Cart</button>
        </form>

    </ul>
</li>

<style>
    .bigicon {
        color: white;
    }

    .mix {
        min-height: 370px;
    }

    ul.dropdown-cart {
        min-width: 250px;
        border: 2px solid #343434;
        padding: 2px;
        margin: 7px;
        margin-top: 11px;
    }

        ul.dropdown-cart li .item {
            display: block;
            padding: 3px 10px;
            margin: 3px 0;
        }

            ul.dropdown-cart li .item:hover {
                background-color: #c3c5c5;
            }

            ul.dropdown-cart li .item:after {
                visibility: hidden;
                display: block;
                font-size: 0;
                content: " ";
                clear: both;
                height: 0;
            }

        ul.dropdown-cart li .item-left {
            float: left;
        }

            ul.dropdown-cart li .item-left img,
            ul.dropdown-cart li .item-left span.item-info {
                float: left;
            }

            ul.dropdown-cart li .item-left span.item-info {
                margin-left: 10px;
            }

                ul.dropdown-cart li .item-left span.item-info span {
                    display: block;
                }

        ul.dropdown-cart li .item-right {
            float: right;
        }

            ul.dropdown-cart li .item-right button {
                margin-top: 14px;
            }
</style>    
